.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* it is needed when you want to make the content vertically "centered" */
}