.contaienr-ma-styling{
    height: 10%;
    width: 40%;
    border: 2px solid rgba(0, 0, 0, 0.507);
    padding: 10px;
    box-shadow: -3px 6px 5px 0px rgba(176,164,176,1);
  transition: all .3s ease-in-out;
}

.contaienr-ma-styling:hover{
    box-shadow: -3px 18px 20px 0px rgba(99,89,99,1);
}